<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
      import '@material/web/all.js';
      import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';
      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
    <title>{{ data.webtitle }}</title>
</head>
<body class="noto-sans-jp-regular">
    <header>
        <div class="header_webtitle">購買予約アプリ</div>
        <div class="block_header">
          {% block header %}{% endblock %}
        </div>
        {% if current_user.is_anonymous %}
        <div class="header_btn_group">
          <span style="position: relative">
            <md-text-button href="/register">
              <span class="head_profile">アカウントの新規作成</span>
              <span slot="icon" class="material-icons head_icon" viewBox="0 0 48 48">person_add</span>
            </md-text-button>
            <md-filled-tonal-button href="/login">
              <span class="head_profile">ログイン</span>
              <span slot="icon" class="material-icons head_icon" viewBox="0 0 48 48">login</span>
            </md-filled-tonal-button>
        <!-- ドロップダウンメニュー -->
        <md-filled-tonal-button id="usage-anchor" style="display: none;">
          <span slot="icon" class="material-icons head_icon" viewBox="0 0 48 48">arrow_drop_down</span>
        </md-filled-tonal-button>
          <md-menu id="usage-menu" anchor="usage-anchor">
            <md-menu-item><a class="header_a" href="/login" tabindex="-1">
              <div slot="headline">ログイン</div>
            </a></md-menu-item>
            <md-menu-item><a class="header_a" href="/register" tabindex="-1">
              <div slot="headline">新規登録</div>
            </a></md-menu-item>
          </md-menu>



        </span>
      </div>
      {% endif %}
        {% if current_user.is_authenticated %}
        <div class="header_btn_group">
          {% block header_r %}
          {% endblock %}
          {% if data.role == "[<Role admin>]" %}
          <md-filled-tonal-button href="/admin">
            <span class="head_profile">管理者ページ</span>
            <span slot="icon" class="material-icons head_icon" viewBox="0 0 48 48">admin_panel_settings</span>
          </md-filled-tonal-button>
          {% endif %}
          <span style="position: relative">
            <md-filled-tonal-icon-button id="usage-anchor">
              <span class="material-icons head_icon">arrow_drop_down</span>
            </md-filled-tonal-icon-button>
            <md-menu id="usage-menu" anchor="usage-anchor">
              <md-menu-item  href="/profile">
                <div slot="headline">プロフィール</div>
              </md-menu-item>
              <md-menu-item href="/rule">
                <div slot="headline">利用規約</div>
              </md-menu-item>
              <md-menu-item href="/my_reserved_list">
                <div slot="headline">予約履歴</div>
              </md-menu-item>
              <md-menu-item href="/logout">
                <div slot="headline">ログアウト</div>
              </md-menu-item>
            </md-menu>
          </span>
        </div>
          {% endif %}
    </header>
    <!-- navigation -->
    <nav class="navigation" id="navigation">
        <md-icon-button class="Toggle_button" id="navi_toggle_button">
          <span class="navi_icon"><div class="material-symbols-rounded">menu</div></span>
        </md-icon-button>
        <ul>
            <li class="navi_list {% if request.path == '/' %}active{% endif %}" id="navi_list_home">
              <a class="navi_atag" href="/">
                    <span class="navi_icon"><div class="material-symbols-rounded {% if request.path == '/' %}material-symbols-rounded-fill {% endif %}">home</div></span>
                    <span class="navi_title hidden" id="navi_title_name_home">ホーム</span>
            </a></li>
            <div class="navi_speace"></div>
            <li class="navi_list {% if request.path == '/menu' %}active{% endif %}" id="navi_list_reserve">
              <a class="navi_atag" href="/menu">
                    <span class="navi_icon"><div class="material-symbols-rounded {% if request.path == '/menu' %}material-symbols-rounded-fill {% endif %}">restaurant_menu</div></span>
                    <span class="navi_title hidden" id="navi_title_name_reserve">メニュー</span>
            </a></li>
            <div class="navi_speace"></div>
            <li class="navi_list {% if request.path == '/reserve' %}active{% endif %}" id="navi_list_menuedit">
                <a class="navi_atag" href="/reserve">
                    <span class="navi_icon"><div class="material-symbols-rounded {% if request.path == '/reserve' %}material-symbols-rounded-fill {% endif %}">shopping_cart</div></span>
                    <span class="navi_title hidden" id="navi_title_name_menuedit">予約</span>
            </a></li>
            <div class="navi_speace"></div>
            <li class="navi_list {% if request.path == '/contact' %}active{% endif %}" id="navi_list_menuedit">
                <a class="navi_atag" href="/contact">
                    <span class="navi_icon"><div class="material-symbols-rounded {% if request.path == '/contact' %}material-symbols-rounded-fill {% endif %}">mail</div></span>
                    <span class="navi_title hidden" id="navi_title_name_otoi">問い合わせ</span>
            </a></li>
        </ul>
    </nav>
    <div class="main" id="main_body">
      <!-- エラー -->
      {% with messages = get_flashed_messages(category_filter=["error"]) %}
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <!-- 成功 -->
      {% with messages = get_flashed_messages(category_filter=["success"]) %}
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <!-- 警告 -->
      {% with messages = get_flashed_messages(category_filter=["warning"]) %}
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <!-- 情報 -->
      {% with messages = get_flashed_messages(category_filter=["info"]) %}
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    {% block content %}
    {% endblock %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/kari.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
