[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "==3.0.3"
flask-login = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-security = "*"
email-validator = "*"
pywebpush = "*"
py-vapid = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "python server.py"
