{% extends "admin_layout.html" %}

{% block content %}
<div class="" style="padding: 5px;">
    <h2>予約者一覧{% if allday is not true %}（本日分のみ表示中）{% endif %}</h2>
    <p>
      ここでは、予約者の確認をすることができます。
    </p>
    <p>
      ・準備完了：商品の準備ができたら押します。
    </p>
    <p>
      ・受取済み：生徒・教員が受け取った場合に押します。
    </p>
    <p>
      ・キャンセル：予約をキャンセルする場合に押します。この場合は、キャンセル(購買側都合)になります。
    </p>
    {% if allday is true %}
    <div class="alert alert-info" role="alert">
      現在、すべての予約を表示しています。今日予約された商品だけを確認したい場合は<a href="/admin/reserve_list/today" class="alert-link">こちら(/admin/reserve_list/today)</a>にアクセスすることを推奨します。
    </div>
    {% endif %}
    <table class="table">
        <thead>
          <tr style="background-color: var(--md-sys-color-secondary-container); font-size: medium;">
            <th style="border-radius: 20px 0 0 0;">Id</th>
            <th>学年/組/番号</th>
            <th>予約者</th>
            <th>予約品１</th>
            <th>２</th>
            <th>３</th>
            <th>４</th>
            <th>５</th>
            <th>ステータス</th>
            <th>予約時間</th>
            {% if allday is true %}
            <th>予約日</th>
            {% endif %}
            <th>価格</th>
            <th style="border-radius: 0 20px 0 0;">ステータス変更</th>
          </tr>
        </thead>
        <tbody>
          {% for reserve in reserve %}
            <tr {% if reserve.state == "キャンセル" %}style="background-color: #f2dede;"{% endif %}>
              <td><a href="/admin/reserve/detail/{{ reserve.id }}">{{ reserve.id }}</a></td>
              <td>{{ reserve.user.grade }}年{{ reserve.user.cls }}組{{  reserve.user.num }}番</td>
              <td>{{ reserve.user.lastname }}{{ reserve.user.firstname }}</td>
              <td>{{ reserve.menu_item_0.productname }}</td>
              <td>{{ reserve.menu_item_1.productname }}</td>
              <td>{{ reserve.menu_item_2.productname }}</td>
              <td>{{ reserve.menu_item_3.productname }}</td>
              <td>{{ reserve.menu_item_4.productname }}</td>
              <td>{{ reserve.state }}</td>
              <td>{{ reserve.reserve_time }}</td>
              {% if allday is true %}
              <td>{{ reserve.reserve_day }}</td>
              {% endif %}
              <td>{{ reserve.price }}</td>
              <td>
                <md-filled-button class="btn-success" href="/admin/reserve/state_rdy/{{ reserve.id }}">準備完了</md-filled-button>
                <md-filled-button class="btn-crp" href="/admin/reserve/state_rcp/{{ reserve.id }}">受取済み</md-filled-button>
                <md-filled-button class="" href="/admin/reserve/state_cancel/{{ reserve.id}}">キャンセル</md-filled-button>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}